{% extends 'base.html'%}

{% block content%}
    {% if searched %}
    <h1 align="center" >RESULT FOR "{{searched}}"...</h1>
    <br/>
    <table class="table table-hover table-striped ">
          {% for venue in venues%}
            <tr>
                <td>
                    <a href="{% url 'show-venue' venue.id %}"> {{ venue }}</a><br/>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else%}
        <h3>Hey! You forgot to search for a venue...</h3>
    {% endif %}

{% endblock content%}
