{% extends 'base.html'%}

{% block content%}
<div class="card">
  <div class="card-header">
   <strong>{{ venue.name }}</strong>
  </div>
  <div class="card-body">
        <p class="card-text">
             <ul>
                <li><strong> Address:</strong> {{venue.address}} </li>
                <li><strong> Zip Code:</strong> {{venue.zip_code}} </li>
                <li><strong>Phone:</strong> {{venue.phone}} </li>
                <li><strong>Email:</strong> {{venue.email}} </li>
                <li><strong>Web Address:</strong> <a href="{{ venue.web }}">{{venue.web}}</a></li>
                <li><strong>Owner:</strong> {{venue_owner}} </li>
                <li><strong>Image:</strong> {{venue.image}} </li>

            </ul>
            <br/>
            {% if  venue.image %}
                <img src="{{venue.image.url}}" width="700">

            {% endif %}
        </p>

  </div>

</div>
<br/> <br/>

{% endblock content%}