{% extends 'base.html'%}
{% block title%}

{% endblock title%}

{% block content%}
    <h3 >VENUE LIST ...</h3>
    <br/>

        <table class="table table-hover table-striped table-bordered">
            {% for venue in venue_list %}
            <tr>
                <td>
                    <a href = "{% url 'show-venue' venue.id %}" style="text-decoration:None ">{{venue}} </a>
                </td>
                <td align="right">
                    <a class="btn btn-outline-secondary btn-sm"
                       href = "{% url 'update-venue' venue.id %}" style="text-decoration:None ">Update </a>
                    <a class="btn btn-outline-danger btn-sm"
                       href = "{% url 'delete-venue' venue.id %}" style="text-decoration:None ">Delete </a>
                </td>
            </tr>
            {% endfor%}
        </table>

    <br/>

{% endblock content%}